#navbar-top {
    height: 12%;
}

#navbar-logo {
    margin-left: 2em;
    width: 10%;
}

#m-nav {
    padding: 2em;
    width: 70%;
    align-items: center;
    justify-content: center;
    display: flex;
}

#navbar-search {
   display: block !important;

}

#navbarSupportedContent{
    display: flex !important;
    justify-content: end !important;
    align-items: end;
    margin-right: 2em;
    width: 15%
}

body {
    margin: 0px !important;
    padding:0px !important;
    
}


.top-buttons {
    margin-top: 0.5em;
    display: flex;
    justify-content:center;
    align-items: center;
}

.container {
    margin-top: 3em;
    text-align: center;
}

#footer {
    background-color: rgba(0, 0,0, 0.2);
    
}

.footer-links {
    padding: 30px
}

.div-menu {
    height: 100%;
    margin-bottom: 40px;
}

.div-text {
    height: 80%;
    width: 100%;
    margin-top: 2em;
}


.span {
    font-size: 18px;
    line-height: 2.2em;
}


#buttontop {
    margin: 0.8em;
}

.content {
    min-height: 100%;
    margin-top: -6em !important;
}

.content-inside {
    padding: 20px;
    padding-bottom: 50px;
}

.content-aboutus {
    min-height: 76%;
    margin-top: -6em !important;
}




/* aboutsus */
.paddingTB60 {padding:60px 0px 60px 0px;}
.gray-bg {background: #F1F1F1 !important;}
.about-title {}
.about-title h1 {color: #535353; font-size:45px;font-weight:600;}
.about-title span {color: #0d6efd; font-size:45px;font-weight:700;}
.about-title h3 {color: #535353; font-size:23px;margin-bottom:24px;}
.about-title p {color: #7a7a7a;line-height: 1.8;margin: 0 0 15px;}
.about-paddingB {padding-bottom: 12px;}
.about-img {padding-left: 57px;}
.container-us {
    margin-top: 10em;
    justify-content:center;
    display: flex;
}
